/* =============================== COMMON ========================== */
:root {

  --blanco: #ffffffd4;
  --oscuro: #212121;
  --nav_bar: rgb(0 0 0 / 32%);
  --encabezado: #080808bf;
  --gris: #757575;
  --grisClaro: #c5cace;
}
body {
	font: 13px/130% Arial, Helvetica, sans-serif;
	margin: 0px;
	height: 400px;
	background-image: url("../Imagenes/slider-nuevo.jpg");
	background-size: cover;
	background-repeat:
	no-repeat;
	background-position: center center;
	background-attachment: fixed;
}




/* =========================Ocultar Menu======================== */

.more {
    display: none;
    /* padding-top: 14%; */
}

a.showLink, a.hideLink {
    text-decoration: none;
    -webkit-transition: 0.5s ease-out;
    background: transparent url('down.gif') no-repeat left; }

a.hideLink {
    background: transparent url('up.gif') no-repeat left;
}


.BotonOcultar1 {
    background-color: Black;
    color: white;
    border-radius: 3px;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 6%;
    cursor: pointer;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}



.BotonOcultar1:hover {
    background-color: Orange  ;
    color: white;
}

.BotonOcultar2 {
    background-color: Black;
    color: white;
    border-radius: 3px;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 7%;
    cursor: pointer;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}



.BotonOcultar2:hover {
    background-color: Orange  ;
    color: white;
}


#Alturaboton1 {
    margin-top: -6.1%;
    position: relative !important;
}


/* ========================= Formato de tablas y scrolling ======================== */

article  {
	margin: 0;
	padding: 0;
 	overflow: auto;

	border: 1px solid #444;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/* ======================== Codigo Opcional, Menu de reportes  y formularios ======================= */


.Cajon31  {
	width: 100%;
	height: 100%;
	float: right;
	margin-top: 1%;
  margin-right: -0.5%;

}

#Cajon41  {
	width: 100%;
	height:100%;
	float: left;
	margin-top: 13.5%;
}

#Cajon51  {
	width: 10%;
	height: 100%;
	float: left;
	padding-left: 0.9%;
  margin-top: -4%;
}

#Barra  {
  float: right;
  	width: 93.5%;
    height: 100%;
    margin-top: -0.7%
}


.titulo_menu1{
  border-radius: 0px 0px 0px 0px;
  padding: 0px;
  background-color: var(--encabezado);
}

#menu1 ul, li {
    list-style: none;
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 2%;
    /*transition: 0.05s all;*/
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    display: block;
    display: inline-flex;
    list-style-type: none;
}

#menu1 span, #menu1 a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.7px;
    text-decoration: none;
}

#menu1:after, #menu1 ul:after {
    content: '';
    display: block;
    clear: both;
    margin-bottom: -32px;

}

#menu1 a {
    color: white;
    line-height: 118%;
    padding: 15px 8px 11px 0px;
    width: 90%;


}

#menu1 ul {
    position: relative;
    z-index: 597;
    float: left;
}

#menu1 ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    list-style: none;
}


#menu1 ul li.hover,
#menu1 ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
    border-top: 2px solid rgb(0 0 0 / 70%);
}

#menu1 ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}

#menu1 ul ul li {
    float: none;
}

#menu1 ul li:hover > ul {
    visibility: visible;

  display: block;
  cursor: pointer;
}

#menu1 ul ul {
    top: -10%;
    left: 100%;
}

#menu1 ul li {
    float: none;
}

#menu1 {
     width: 100%;
     /* height: 80px; */
}

#menu1 li{
     border: 1px solid rgb(0 0 0 / 80%);
     text-align: center;
}

#menu1 ul li ul {
    width: 100%;
    top: -32%;
}

#menu1 ul, #menu1 li {
   /* width: 97%; */
   /* overflow: hidden; */
}
#menu1 li {
    background: rgb(0 0 0 / 0%);
}
#menu1 li:hover {
    background: #545252;
    border-left: 3px solid Black;
}

#menu1 ul ul li {
    background: #080808bf;
}
#menu1 ul ul li:hover {
    background: grey;
}
#menu1 ul ul li:hover a {
    color: white;
}
#menu1 ul ul li ul li {
    background: #080808bf;
}
#menu1 ul ul li ul li:hover {
    background: grey;
}
#menu1 .has-sub {
    position: relative;
}

#menu1 .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}

#menu1 .fa-angle-right {
    float: right;
}


/* =============================== Animacion <li> ========================== */


li {
  background-color: rgba(0,0,0,0.4);
  line-height: 4;
  padding: 0 2e;
  color: #fff;
  position: relative;
}

li:before {
  position: absolute;
  bottom: 0 ;

  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all .3s;

}
li:hover:before {
  width: 100%;
}


.STF0BF11B31B944F1EB48F95D727699A6A li  {
  background-color: white;
}



/* =============================== Formato titulos ========================== */




#TituloPrincipal {
  font-size: 25px;
	text-align: center;
	margin: 6px;
	padding: 0px;
	color: var(--blanco);
}

#TituloPrincipal2   {
	padding-left: 27%;
	color: var(--blanco);
	font-size: 20px;
}



h2{
	font-size: 20px;
	text-align: center;
	color: var(--blanco);
  margin: 0;
}


#h2 {
	font-size: 20px;
	text-align: center;
	color: var(--blanco);
  margin: 10px;
}

#Cajon1  {
	width: 80%;
	height:100%;
	float: left;
}

#Cajon2  {
	width: 20%;
	height:100%;
	float: right;
}


.Cajon3  {
	width: 100%;
	height: 100%;
	float: right;
	margin-top: -60px;
}

#Cajon4  {
	width: 10%;
	height:100%;
	float: left;
}

#Cajon5  {
	width: 1100px;
	height: 100%;
	float: none;
	margin-top: 100px;
	margin-left: 20px;
}

.Cajon6  {
	width: 100%;
	height: 100%;
	float: none;
	margin-top: 0%;
	margin-left: 20px;
}



/* =============================== HEAD ========================== */
	/*formato a los encabezados*/

.barra_informacion{
  width: 100%;
  background-color: var(--nav_bar);
  height: 20px;
  align-content: center;
  margin: 0;
  padding: 28px 0px 10px 0px;
  z-index: 100;
}

#barra_sec{
	display: grid;
	grid-template-columns: 100px auto 100px;
	column-gap: 1rem;

}
.text_info{
	align-items: center;
	padding: 0px;
	margin: 0px;
	margin-top: -10px;
}

.text_info_1{
	align-items: center;
	padding: 0px;
	margin: 0px;
  width:90%
}

body header{
	position: fixed;
	width: 100%;
	z-index: 100;

}

.titulo{
  width: 100%;
  height: 30px;
  background-color: var(--oscuro);
  margin: 0px;
  padding: 1px 0px 8px 0px;
  z-index: 100;
}

.titulo2 {
  width: 100%;
  height: 30px;
  background-color: var(--oscuro);
  margin: 0px;
  padding: 1px 0px 58px 0px;
  z-index: 100;
}

.titulos_y_logo {
  width:20%;
}


.titulos_y_logo_1 {
  width:90%;
}

 #logo{
   position: relative;
   right: -80px;
   top: 3px;
   border-radius: 4px;
   height: 82.5px;
   width: 82.5px;
   z-index: 100;
 }


 #logo_1{
   position: relative;
   right: -1px;
   top: 3px;
   border-radius: 4px;
   height: 82.5px;
   width: 250px;
   z-index: 100;
 }

 #logo_2{
	position: relative;
	right: -20px;
	top: 0px;
	border-radius: 4px;
	height: 38px;
	width: 38px;
	z-index: 100;
 }

.link_menu{
	/* margin-top: 12px; */
	margin-left: 20px;
	text-align: left;
}

.link_logout_1{
	margin-top: 12px;
	margin-right: 0px;
	text-align: right;

}

.link_logout{
	margin-top: 12px;
	text-align: 40px;

}

.link_menu a, .link_logout_1 a {
	margin-top: 6px;
	color: var(--blanco);
	text-decoration: none;
	font-size: 15px !important;
	font-weight: bold;
	text-transform: uppercase;


}

.link_menu a, .link_logout a {
	margin-top: 6px;
	color: var(--blanco);
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

.material-icons:hover  {
    cursor: pointer;
	color: var(--grisClaro);
}




.material-icons {
  font-family: 'Material Icons'!important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 35px !important;
  display: inline-block !important;
  line-height: 1 !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  direction: ltr !important;
  vertical-align: middle !important;


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased !important;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility !important;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale !important;

  /* Support for IE. */
  font-feature-settings: 'liga'!important;
}


.material-icons_2 {
  font-family: 'Material Icons'!important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 45px !important;
  display: inline-block !important;
  line-height: 1 !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  direction: ltr !important;
  vertical-align: middle !important;
  margin-left: 20%;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased !important;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility !important;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale !important;

  /* Support for IE. */
  font-feature-settings: 'liga'!important;
}

/*============================Menú desplegable=================*/

.container{

padding: 0px;
}

.contenedor_menu{
	width: 100%;
}
.card{
  width: 100%;
  height: 780px;
  background-color: var(--nav_bar);
  border-radius: 0px 0px;
  margin-top: 4.6%;
}

.card2{
  width: 700%;
  height: 80px;
  background-color: var(--nav_bar);
  border-radius: 0px 0px;
}

.titulo_menu{
  border-radius: 0px 0px 0px 0px;
  padding: 5px;
  background-color: var(--encabezado);
}

h3{
  color: #FFFFFF;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
}




/*============================Menú Principal=================*/
#menu {
    /* padding: 0; */
    /* margin: 0; */
    /* border: 0; */

}

#menu ul, li {
    list-style: none;
    /* margin: 0;*/
    padding: 0px;
    /*transition: 0.05s all;*/
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    display: block;
    display: list-item;
    list-style-type: none;

}

#menu ul {
    position: relative;
    z-index: 597;
    float: left;

}

#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;


    list-style: none;
}

#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}




#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}

#menu ul ul li {
    float: none;
}

#menu ul li:hover > ul {
    visibility: visible;

  display: block;
  cursor: pointer;
}

#menu ul ul {
    top: -10%;
    left: 100%;
}

.menu_linea_final {
    top: -162% !important;
}


#menu ul li {
    float: none;
}

#menu {
    /* width: 100%; */
}

#menu ul li ul {
    width: 100%;
    top: -32%;
}

#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.7px;
    text-decoration: none;
}

#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both;
}

#menu ul, #menu li {
    width: 100%;
    /* overflow: hidden; */
}
#menu li {
    background: rgb(0 0 0 / 0%);
}
#menu li:hover {
    background: #545252;
}
#menu a {
    color: white;
    line-height: 118%;
    padding: 18px 28px 11px 8px;
    width: 79%;
}
#menu ul ul li {
    background: #080808bf;
}
#menu ul ul li:hover {
    background: grey;
}
#menu ul ul li:hover a {
    color: white;
}
#menu ul ul li ul li {
    background: #080808bf;
}
#menu ul ul li ul li:hover {
    background: grey;
}
#menu .has-sub {
    position: relative;
}

#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}

#menu .fa-angle-right {
    float: right;
}

/*============================Menú Gestion de proyectos =================*/

/* =============================== Main 620px ========================== */

.principal {
	display: grid;
	grid-template-columns: 14.2% auto;
	column-gap: 1rem;
	height: 100%;
	/* padding-top: 87px; */
}

.principal1 {
	display: grid;
	grid-template-columns: 13.2% auto;
	column-gap: 1rem;
	height: 100%;
	padding-top: 87px;
}

.contenedor_Imagenes {
  	display: flex;
  	margin-top: 7%;
}




.video_1{
  margin-top: 5%;
  width: 80%;
  height: 80%;
  padding-left:15%;

}



/* =============================== CONTENT ========================== */
	/*este contect lo usa el resto de paginas html*/
#content {
	margin: 4px 0px 4px 0px;
	/* width: 100%; */
	/* height:100%; */
	margin:0 auto;
	display: flex;
	justify-content: center;
	/* padding-top: 108px; */
	/* margin-top: 43px; */
	padding-bottom: 2%;
}

.STF0BF11B31B944F1EB48F95D727699A6A {
	background-color: rgb(27 21 21 / 62%)!important;
	border-radius: 2rem;
}

.STF0BF11B31B944F1EB48F95D727699A6A {
  margin: 0;
  padding: 0;
 overflow: auto;
 border: 1px solid #6e6666;
 justify-content: center;
 align-items: center;
 white-space: nowrap;


}

div#GridRootCtnr_5e16050d6be9b0 {
    white-space: normal !important;
    overflow-x: hidden;
}


.STF0BF11B31B944F1EB48F95D727699A6A h1 {
  color: #ffffffad !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormLabelRequired {
  color: #ffffffad !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormLabel {
  color: #ffffffad !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormData {
  color: #ffffffad !important;
}


/*.STF0BF11B31B944F1EB48F95D727699A6A a {
  color: #343f43 !important;
}*/


.STF0BF11B31B944F1EB48F95D727699A6A .cbFormTableRow {
    background-color: rgba(0, 0, 0, 0.2) !important;
}


.STF0BF11B31B944F1EB48F95D727699A6A .cbFormTableEvenRow {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetData {
  /*background-color: #e0e0e0;*/
  /*color: white !important;*/

}


.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetNavigationMessages {
  color: white !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetRecordPerPageMessage {
  color: white !important;
}


.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetRecordMessage {
  color: white !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbHTMLBlockContainer {
  color: #828a95 !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbConfirmationMessages {
  color: #828a95 !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetGridHeaderCell {
  background: #828a95 !important;
}




.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetHeaderCell {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetGridHeaderCellNumberDate {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetHeaderCellNumberDate {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetGridHeaderCheckBoxCell {
  background: #828a95 !important;
}


.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetHeaderCheckBoxCell {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormDataLink, .STF0BF11B31B944F1EB48F95D727699A6A section[class^="cbFormSection"] .cbFormData a {
  color: #027FAA !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetActionsContainer {
  visibility: visible !important;

}



#linea {
  background-color: #0000009e !important;
  color: #ffffffad !important;
}

#Parrafo {
  color: #ffffffad !important;
}

/*.STF0BF11B31B944F1EB48F95D727699A6A .cbFormFieldCell {
    width: 100%!important;
}*/


/*.STF0BF11B31B944F1EB48F95D727699A6A .cbFormLabelCell {
    color: #e2e8ea !important;
}*/


.cbHTMLBlockContainer{
	background: none;

}

.cbLoginButtonContainer{
	background-color: none;
}

.cbFormSection_68975ffa236b6d {
    width: 90% !important;

}


Div element.style {

  /*  overflow-y: hidden;*/
}


	/* este contect lo usa el reporte de produccion fabrica de tubos */
#content1 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 90%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

	/* este contect lo usa el reporte stock de tubos y produccion de concreto */
#content2 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 40%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 10%;
}
	/* =============================== Contenct de formularios========================= */


#contentinframe1 {
	margin: 4px 0px 4px 0px;
	padding: 0px;
	box-shadow: 0px 0px 1px 0px #bbb;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	padding-top: 1%;
}

	/* este contect lo usa en menu de acarreos*/
#contentinframe2 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 100%;
	height: 100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 8%;
}



/* =============================== FOOTER ========================== */
	/*le da formato al pie de pagina*/
#cb-footer {
	width: 60%;
	clear: both;
	border-top: 0px solid #a1b5c0;
	color: white;
	margin: -2% auto;
	padding: 10px 0 10px 10px;
	font-size: 11px;
	text-align: center;
	height: 100%;


}
#cb-footer p {
	margin: 0 0 5px 0;
	padding: 0;
}
#cb-footer a {
	color: white;
	text-decoration: underline;
}
#cb-footer a:hover {
	text-decoration: none;
}
#cb-footer p:first-child{
	font-weight: bold;
}


  .botonreimpresion{
  background-color: black;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  width: 100% !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;

  }


  .botonreimpresion:hover{
  background-color: #156ee4 !important;
  }
