@media print {

  header, footer, nav, aside {
    display: none;}
  main {
    float:none;
  }
  body{
    float: none !important;
    width: auto !important;
    margin:  0 !important;
    padding: 0 !important;
    display: inline-block !important;
    vertical-align: middle !important;
  }
  .STF0BF11B31B944F1EB48F95D727699A6A {
    border: 0px;
  }
  .cbFormTextField {
    border: 0 !important;
    background-color: #eee !important;
    outline: none !important;
    color: black !important;


  }
  .cbFormLabelCell {



    }
  .cbFormSelect {
    border: 0 !important;
    background-color: #eee !important;
    outline: none !important;


  }
  [Class*="cbFormNestedTableContainer cbFormBlock9"] {

    }
  [Class*="cbFormNestedTableContainer cbFormBlock6"] {
    margin-top: -60px !important;
    /*Fecha*/
   }
  [Class*="cbFormNestedTableContainer cbFormBlock7"] {
     margin-left: -430px !important;
      /*Cliente*/
    }
  [Class*="cbFormNestedTableContainer cbFormBlock8"] {
      margin-left: -460px !important;
      margin-top: 60px !important;
      /*Solicita*/
     }
  [Class*="cbFormNestedTableContainer cbFormBlock9"] {
      margin-top: -16px !important;
     /*Lugar de envio*/
    }
  [Class*="cbFormNestedTableContainer cbFormBlock10"] {
      margin-left: -430px !important;
      margin-top: 44px !important;
      /*Tipo Solicitud*/}
  [Class*="cbFormNestedTableContainer cbFormBlock11"] {
        margin-left: -460px !important;
        margin-top: 104px !important;
        /*Plantel*/
       }
  [Class*="cbHTMLBlockContainer cbFormData cbFormBlock12"] {
         display: none;
         /*Titulo numero de boleta y tipo de material*/
       }
  [Class*="cbFormNestedTableContainer cbFormBlock13"] {
      margin-top: -18px !important;
        /*N Boleta*/
      }
  [Class*="cbFormNestedTableContainer cbFormBlock14"] {
           margin-left: -430px !important;
           margin-top: 42px !important;
           /*Producto*/
        }
  [Class*="cbFormNestedTableContainer cbFormBlock15"] {
            margin-left: -460px !important;
            margin-top: 102px !important;
            /*Producto boleta*/
         }
     [Class*="cbFormNestedTableContainer cbFormBlock16"] {
           margin-top: -16px !important;
                 /*Cantidad*/
        }
  [Class*="cbFormNestedTableContainer cbFormBlock30"] {
        margin-left: -430px !important;
        margin-top: 70px !important;
       /*Tipo*/
        }
  [Class*="cbFormNestedTableContainer cbFormBlock31"] {
        margin-left: -460px !important;
        margin-top: 120px !important;
        /*Cubicaje*/
            }
  [Class*="cbFormNestedTableContainer cbFormBlock34"] {
        margin-left: -445px !important;
        margin-top: 70px !important;
        /*Cedula*/
                    }
  img{
    display: none !important;
  }
  label.div{
    display: none !important;

  }
  #Cajon41{
    display: none !important;
  }
  #linea{
    display: none !important;
  }
  .boton{
    display: none !important;
  }
  .cbSubmitButton{
    display: none !important;
  }
  #caspioform{
    overflow:hidden;
  }
  script{
    display: none !important;
  }
  p{
    display: none !important;
  }



}
